body {
  background:
          linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
          linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
          linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
          linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
          linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
          linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

  color: #656565;
}

.container {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
}

h1.title {
  text-align: center;
  margin-bottom: 20px;
  color: #656565;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.choice-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #989898;
  color: #222;
  transition: background-color 0.3s ease;
}

.choice-button:hover {
  background-color: #676767;
}

.reset-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #989898;
  color: #222;
  transition: background-color 0.3s ease;
}

.reset-button {
  background-color: #676767
}

.points-container {
  display: flex;
  justify-content: center;
}

.result-container {
  display: flex;
  justify-content: center;
}